---
layout: default
---

<div class="home">
    <p>
        Welcome to Indescrible, the home for my software engineering thoughts, guides and bits and bobs.
    </p>
    <p>
        In the coming weeks/months this will be fleshed out with more content.
        Until then, there isn't much to see here to be honest!
    </p>
    <p>
        If you're interested in the origin of the name it comes from a mistyping of indescribable when I was a teenager and it stuck with me for some reason...
    </p>
</div>